.note-grid{
  display: inline-block;
  width: 33%;
  height: 270px;
  /* border: black solid 1px; */
}

.note-grid .note-element{
  display: flex;
  /* position: absolute; */
  margin: auto;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  width: 90%;
  height: 250px;
  border: 1px solid black;
  box-shadow: 5px 5px grey;
}


@media screen and (max-width: 576px){
  .note-grid{
    width:100%;
  }
}
